<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-vdcore"
    version="1.0.0">
    <name>Veridas Core SDK Cordova Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/davgc/cordova-plugin-vdcore.git</repo>
    
      <engines>
        <engine name="cordova" version=">=6.4.0" />
        <engine name="cordova-android" version=">=5.1.0" />
        <engine name="cordova-ios" version=">=4.5.0" />
      </engines>

    <!-- android -->
     <platform name="android">

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="VDCore">
          <param name="android-package" value="com.syntonize.VDCore" />
          <param name="onload" value="true" />
        </feature>
      </config-file>



      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

      <resource-file src="src/android/libs/VDLibraryImageProcessing.aar"  target="libs/VDLibraryImageProcessing.aar"/>
      <resource-file src="src/android/libs/VDLogger.aar"  target="libs/VDLogger.aar"/>

    </platform>

    <!-- ios -->
    <platform name="ios">
       
        <config-file target="config.xml" parent="/*">
            <feature name="VDCore">
                <param name="ios-package" value="VDCore" onload="true" />
            </feature>
        </config-file>

        <framework src="src/ios/Framework/ImageProcessing.framework" embed="true" custom="true"/>
        <framework src="src/ios/Framework/VDLibrary.framework" embed="true" custom="true"/>
        <framework src="src/ios/Framework/ZipArchive.framework" embed="true" custom="true"/>

    </platform>
</plugin>
